@charset "UTF-8";

*{
    margin:0;
    padding:0;
    border: 0;
    font:inherit;
    color:inherit;
    box-sizing: border-box;
    /* flex-shrink: 0; */
}
/* *, :after, :before {flex-shrink:0;} */
html, body {
    height:100%;
    font-family: 'SangBleuSunrise', sans-serif;
    line-height: 1;
}
img, picture, video, canvas, svg {display: block; max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none;}
table {border-collapse:collapse;border-spacing:0;}
input,button {border-radius:0;-webkit-appearance:none;} 
ul, li { list-style: none;}
img { max-width: 100%; display: block;} 
form{width: 100%;}
em,i{font-style: normal;}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    overflow: hidden;
}